# Ignore node_modules
node_modules
node_modules/*

# Ignore pnpm store
.pnpm-store

# Ignore logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignore build output
dist
build


# Ignore build output
.next
out

# Ignore test files
coverage
*.test.js
*.spec.js
*.test.ts
*.spec.ts

# Ignore dotenv files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Ignore other artifacts
.DS_Store
*.swp
.idea
.vscode
*.iml
